#desktopSplashContainer {
    .headingBox {
        max-width: 500px;
        margin-top: 1.25%;

        .hearts {
            width: 52px;
            margin-top: 11px;
            margin-left: 19px;
        }
    }

    .tapUI {
        width: 184px;
        height: 184px;
        top: 19.2vh;
        left: 24.8vw;
    }

    .bottomBox {
        padding-bottom: 6.76%;

        .bodyBox {
            max-width: 540px;
        }
    }
}