#desktopSplashContainer {
    .headingBox {
        max-width: 500px;
        margin-top: 1.25%;

        .hearts {
            width: 52px;
            margin-top: 7px;
            margin-left: 19px;
        }
    }

    .bottomBox {
        padding-bottom: 6.76%;

        .bodyBox {
            max-width: 540px;
        }
    }
}