@use "./src/styles/utils/_global.scss";

$btn-height: 38px;
$btn-lineheight: $btn-height * 0.7;
$btn-radius: 15px;

.headerNav {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 25px 18px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: right;
}

.h-notification {
    position: relative;
    
    .bell-alert {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 6px;

        label {
            position: relative;
            height: $btn-height;
            line-height: $btn-lineheight;
            padding: 5px 11px;
            border-radius: $btn-radius 0 $btn-radius $btn-radius;

            font-size: 10px;
        }
    }
}


.h-back {
    position: relative;
    width: 100%;
    text-align: left;
}