main#desktopSplashContainer.viewContainer
    div.innerWrapper
        header.headingBox
            h1.h1.desk A sweet message to your loved one
                img(class="hearts" src="icons/hearts.svg" alt="hearts icon")

        section.bottomBox
            div.bodyBox
                p.reading.desk To live the full experience please tap the heart and scan the QR Code
