header.headerNav
    article.h-notification
        div.bell-alert
            label(for="message") You received a heart candy!
            button(id="message")
                img(src="icons/bell.svg", alt="Bell icon")