main#landingContainer.viewContainer
    include ./headers/hNotification.pug

    div.innerWrapper
        header.headingBox
            h1.h1 A sweet message to your loved one
                img(class="hearts" src="icons/hearts.svg" alt="hearts icon")

        section.bottomBox
            div.bodyBox
                p.reading Send a special message for your love one

            footer.actionBox
                button.btn.btn--mainAction.nav-nextStep
                    span.label Create your message
                        img(class="hearts" src="icons/hearts.svg" alt="hearts icon")
