main#landingContainer.viewContainer
    include ./headers/hNotification.pug

    span#landing-deviceOrientationHelper.nav-deviceOrientation

    div.innerWrapper
        header.headingBox
            h1.h1.perspectiveText
                span#splitLandingTop.inlineWrap A sweet
                span#splitLandingMid.inlineWrap message to your
                span#splitLandingBottom.inlineWrap loved one

                img(class="hearts" src="icons/hearts.svg" alt="hearts icon")

        section.bottomBox
            div.bodyBox
                p#splitLandingBottomBox.reading Send a special message for your love one

            footer.actionBox
                button#landingBtn.btn.btn--mainAction.nav-nextStep.nav-deviceOrientation
                    span#splitLandingBtnLabel.label Create your message
                    span.label
                        img(class="hearts" src="icons/hearts.svg" alt="hearts icon")
