main#nameContainer.viewContainer
    include ./headers/hBack.pug

    div.innerWrapper

        header.headingBox
            img(class="hearts hearts--top" src="icons/hearts.svg" alt="hearts icon")
            h1.h1 Who is your loved one

        section.inputBox
            input#nameInput.h1Input
            label#nameLabel.h1Label.show(for="nameInput") Place the name

            span#alertContainer.h1Alert

        section.bottomBox
            footer.actionBox
                button#submitName.btn.btn--mainAction
                    span.label Confirm name
