main#receivedContainer.viewContainer
    include ./headers/hRestart.pug

    div.innerWrapper
        header.headingBox
            img(class="hearts hearts--top" src="icons/hearts.svg" alt="hearts icon")
            h1.h1
                span.lineWrap Hey 
                    span#recipientName
                    span , someone
                span.lineWrap has something to tell you

        div.tapUI
            div.tapUIWrapper
                span.circlesWrapper
                    span.circle
                    span.circle
                    span.circle
                <svg width="46" height="43" viewBox="0 0 46 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M42.0714 39.0226C39.4708 41.5696 36.2345 43 32.9341 43C31.2209 43 29.4447 42.6267 27.7316 41.8193L9.83591 33.5541C8.75715 33.0571 7.93148 31.1758 7.55128 31.069C7.16994 29.9512 7.23407 28.7705 7.74138 27.7135C7.80437 27.5268 7.99561 27.3401 8.18571 27.2783C10.026 26.1605 13.7066 25.6635 15.8 26.5957L7.55128 13.6088C6.91686 12.6147 6.72676 11.434 6.97984 10.3151C7.23407 9.19621 7.99561 8.20215 9.01024 7.58142C11.1048 6.33772 13.8967 6.95957 15.1667 9.01067L18.8473 14.8514C19.1634 14.5399 19.4817 14.2295 19.8619 14.0428C21.1949 13.2354 22.844 13.1736 24.1769 13.8573C24.5571 13.1736 25.0656 12.6147 25.7641 12.1795C27.096 11.371 28.7462 11.3092 30.0792 11.9929C30.4594 11.3092 30.9667 10.7503 31.6652 10.3151C32.744 9.69324 34.014 9.5077 35.2187 9.81806C36.3616 10.1284 37.3132 10.8121 37.8835 11.8062L44.4202 23.4887C47.5935 29.2046 45.5619 35.4186 42.0714 39.0226ZM42.5169 24.4198L35.9161 12.6766C35.663 12.2414 35.2187 11.868 34.6473 11.7443C34.014 11.5577 33.3784 11.6825 32.807 11.9929C32.1726 12.3662 31.7924 12.9869 31.7282 13.7325C31.6652 14.1677 31.411 14.5399 30.9667 14.7265C30.5235 14.8514 30.0792 14.7265 29.7608 14.4162C29.0634 13.6088 27.7945 13.4221 26.8429 13.981C26.2073 14.3543 25.8271 14.9751 25.7641 15.7206C25.7 16.1558 25.4458 16.5291 25.0026 16.7147C24.5571 16.8395 24.114 16.7147 23.7967 16.4043C23.0982 15.5969 21.8293 15.4102 20.8765 15.9702C20.3692 16.2806 19.989 16.7776 19.8619 17.3984C19.7348 17.8335 19.4176 18.1439 18.9744 18.2687C18.5289 18.3306 18.0858 18.1439 17.8315 17.7717L13.1352 10.3151C12.5007 9.25918 11.1048 8.9477 10.026 9.6314C9.51755 9.94176 9.13735 10.4388 9.01024 10.9988C8.88312 11.5577 8.94725 12.1795 9.26447 12.6766L19.4817 28.8323C19.7348 29.2675 19.6718 29.7646 19.3546 30.1368C19.0374 30.5101 18.4659 30.6338 18.0216 30.3853L14.8483 28.5838C13.6436 28.0238 11.0418 28.2723 9.58168 28.956C9.45457 29.3912 9.45457 29.8883 9.64466 30.3234C9.83591 30.8823 10.2791 31.3175 10.7875 31.566L28.6832 39.83C33.5055 42.0678 37.9477 40.0167 40.4854 37.4067C43.4044 34.3627 45.1817 29.1427 42.5169 24.4198ZM20.7506 10.2532C20.115 10.3151 19.5447 9.94176 19.4817 9.32103C18.8473 5.21996 15.1667 2.1748 10.9147 2.1748C6.15532 2.1748 2.28462 5.96551 2.28462 10.6255C2.28462 14.2295 4.5681 17.3984 8.0586 18.6421C8.63004 18.8276 8.94725 19.4495 8.75715 20.0702C8.50292 20.5054 8.0586 20.8157 7.61541 20.8157C7.4883 20.8157 7.36119 20.8157 7.23407 20.7539C2.91905 19.2628 0 15.2236 0 10.6873C0 4.78477 4.88646 0 10.9147 0C16.2455 0 20.8765 3.91441 21.7022 9.01067C21.7652 9.6314 21.385 10.1903 20.7506 10.2532Z" fill="currentColor"/>
                </svg>

        section.bottomBox
            div.bodyBox
                p.reading Tap and hold to listen how my heart beats for you.

            footer.actionBox
                div.buttonsWrapper
                    button.btn.btn--mainAction.nav-restart
                        span.label Create mine
                    
                    a(href="https://open.spotify.com/track/1VhSYtPI5bHv8HjK8JHILA?si=f0ecbe0ee9dc40fc", target="_blank", rel="noopener noreferrer")#receivedSpottyLink.btn.btn--mainAction
                        span.label I love the song

    span#tapHoldReceived.tapHoldTrigger
    
    //- button#receivedFirstClick.btn.btn--mainAction
    //-     span.label Wanna know what is it?