main#receivedLandingContainer.viewContainer
    include ./headers/hRestart.pug

    span.nav-receivedStep

    div.innerWrapper.innerWrapper--noJustify
        header.headingBox
            img(class="hearts hearts--top" src="icons/hearts.svg" alt="hearts icon")
            h1.h1
                span.lineWrap
                    span#recipientNameLanding
                    span ...

        section.middleBox
            div.bodyBox
                p.reading We got a lil' thing just for you. Tap anywhere to discover it.