main#receivedLandingContainer.viewContainer
    span.nav-receivedStep.nav-deviceOrientation

    div.innerWrapper.innerWrapper--noJustify
        header.headingBox
            img(id="heartsReceivedLanding" class="hearts hearts--top" src="icons/hearts.svg" alt="hearts icon")
            h1#headingLineRL.h1.perspectiveText
                span.lineWrap
                    span#recipientNameLanding
                    span#splitReceivedDots ...

        section.middleBox
            div.bodyBox
                p#splitReceivedLandingParagraph.reading We got a lil' thing just for you. Tap anywhere to discover it.