main#rotateDeviceContainer.viewContainer
    section.innerWrapper
        header.headingBox
            span.orientationIcon
            h5.h1 Rotate your device vertically, darling
                img(class="hearts" src="icons/hearts.svg" alt="hearts icon")