main#landingContainer.viewContainer
    include ./headers/hRestart.pug

    div.innerWrapper
        header.headingBox
            h1.h1 
                span Share your message with 
                    span#share-name ${name}.
                img(class="hearts" src="icons/hearts.svg" alt="hearts icon")

        section.bottomBox
            div.bodyBox
                p.reading Send a special message for your love one

            footer.actionBox
                button.btn.btn--mainAction
                    span.label Share message
