// VARS
$header-height: 73px;

$btn-bg: #fff;


// TEXTS
.h1 {
    font-size: 32px;
    line-height: 0.975em;

    &.desk {
        font-size: 66px;
    }
}

.reading {
    font-size: 15.6px;
    line-height: 1.35em;

    &.desk {
        font-size: 29px;
    }
}