@use "./src/styles/utils/_global.scss";

$btn-bg: global.$btn-bg;
$btn-radius: 15px;

.btn {
    background-color: $btn-bg;
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: center;

    &--mainAction {
        height: 56px;
        border-radius: 25px;
        font-size: 14px;
        padding: 0 24px;
        letter-spacing: 0.1px;
    }

    &--headerIcon {
        position: relative;
        width: 38px;
        height: 38px;
        border-radius: 15px;

        svg {
            color: var(--primary);
        }
    }

    &--bell, &--restart {
        svg {
            width: 12px;
        }
    }

    &--back, &--next {
        svg {
            width: 12px;
        }
    }

    &--next {
        svg {
            transform: rotate(180deg);
        }
    }
}