@use "./src/styles/utils/_global.scss";

input {
    background-color: transparent;
}

.h1Input {
    position: relative;
    font-size: 38px;
    font-weight: lighter;

    &::placeholder {
        color: var(--primary);
        opacity: 0.4;
    }

    &:focus {
        outline: none;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        background: transparent;
        background-color: transparent;
        transition: all 5000s ease-in-out 0s;
    }
}