.tapUI {
    .tapUIWrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        width: 64px;
        height: 64px;
    }

    .circlesWrapper {
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;

        .circle {
            position: absolute;
            margin: auto;
            top: 0; bottom: 0;
            left: 0; right: 0;
            border-radius: 50%;
            background-color: #fff;

            &:first-child {
                width: 100%;
                height: 100%;
                opacity: 0.4;
            }
            &:nth-child(2) {
                width: 73.91%;
                height: 73.91%;
                opacity: 0.4;
            }
            &:nth-child(3) {
                width: 45.65%;
                height: 45.65%;
                opacity: 1;
            }
        }
    }

    svg {
        width: 16px;
    }

    &.desk {
        .tapUIWrapper {
            width: 184px;
            height: 184px;
        }

        svg {
            width: 46px;
        }
    }
}

.tapHoldTrigger {
    pointer-events: all;
    cursor: pointer;
    width: 100%;
    height: 40%;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
    // background-color: rgba(255,0,0, 0.5);

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;

    &#tapHoldReceived {
        // display: none;
    }
}